<div class="jumbotron">
    <h1>FROST Home</h1>
    <p class="lead">An Easy way to display and endorse application</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

